<style>
h1 {
  font-size: 65px;
}
h1 {
  color: orange;
}
h1 {
  font-family: sans-serif;
}
body ul {
  background-color: red;
}
body { font-size: 16px;
}
p { font-weight: 600;
}
p { font-size: 3em;
}
</style>